{:paths   ["src"]
 :deps    {io.github.clojure/tools.build {:mvn/version "0.9.6"}}
 :aliases {:pom   {:extra-deps {org.clojure/clojure {:mvn/version "1.10.0"}}}
           :build {:paths      ["src"]
                   :deps       {io.github.clojure/tools.build {:mvn/version "0.9.6"}}
                   :ns-default build.simple.core}}}
